In [10]:
%matplotlib widget
from ipywidgets import *
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:

df = pd.read_csv('../../data/DATA_1.csv', delimiter=',')

In [12]:
df_2=df.loc[df.Magnitud > 3,:]

columns = df_2.columns.values
columns[4] = 'Fecha'
columns[5] = 'Hora'
df_2.columns  = columns

In [13]:
df_2=df_2.loc[df_2.Magnitud > 3,:]
df_2=df_2.loc[df_2.Fecha > "1974-00-00",:]
df_2.reset_index(drop=True,inplace=True)
df_2

        Magnitud  Latitud  Longitud  Profundidad       Fecha      Hora
0            4.3    19.54   -108.04         33.0  1974-01-04  01:33:19
1            4.8    14.49    -93.80         51.0  1974-01-04  17:54:57
2            4.3    13.96    -92.51         33.0  1974-01-05  12:38:25
3            3.5    32.33   -116.32          8.0  1974-01-08  09:59:02
4            4.4    13.65    -90.96         64.0  1974-01-12  04:47:59
...          ...      ...       ...          ...         ...       ...
196870       3.5    16.29    -98.19         21.0  2021-05-29  20:35:53
196871       3.4    20.40   -105.16          5.0  2021-05-29  20:45:42
196872       3.5    15.89    -98.44          8.0  2021-05-29  21:00:25
196873       3.4    17.14    -99.07         51.0  2021-05-29  21:52:05
196874       4.3    17.78    -93.72          3.0  2021-05-30  01:38:49

[196875 rows x 6 columns]

In [14]:
df_2.to_csv("../../data/DATA_2.csv", index=False)